{% set classes = [
  'block',
  'block-' ~ (configuration.provider|clean_class),
  'block-' ~ (plugin_id|clean_class)
] %}

<div {{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2 {{ title_attributes }}>
      {{ label }}
    </h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {% if content.photo_img_source and content.photo_img_alt_text %}
      <div class="bootstrap-styles component--image-622eab5e-ba74-7333-5086-ed9365cce3aa">
        {% if content.photo_img_source %}
          <img src="{{ content.photo_img_source }}"
            alt="{{ content.photo_img_alt_text }}" />
        {% endif %}
      </div>
    {% endif %}
  {% endblock %}
</div>
